/* Document Styles */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto;
}

/* Form Validation */
.validate-success input {
    border: .1px solid lightgreen;
}
.validate-error input {
    border: .1px solid red;
}

form small {
    visibility: hidden;
}

.validate-error small {
    visibility: visible;
    color: red;
}

/* Main styles */
h1 {
    text-align: center;
}

main#app {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

section#content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    gap: 10%;
}

form {
    background-color: hsla(0, 0%, 70%, 0.8);
    padding: 25px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 30%;
    box-shadow: rgba(129, 102, 102, 0.1) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    border: .1px solid #181616;
}

form button#submit {
    background-color: hsla(120, 50%, 45%, 0.74);
    margin-top: 10px;
    color: azure;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

form input {
    margin-bottom: 5px;
    width: 60%;
    padding: 10px;
    border-radius: 5px;
    border-color: hsl(200, 48%, 54%);
}

form article {
    width: 100%;
    margin: 5px;
    display: flex;
    flex-direction: column;
}

form article section {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form small[role="alert"] {
    display: block;
    text-align: center;
}

#coords {
    display: flex;
    align-items: center;
    justify-content: center;
}

.coord {
    display: block;
}

.coord > label {
    padding-right: 10px;
}

select {
    margin-bottom: 5px;
    width: 65.2%;
    padding: 10px;
    border-radius: 5px;
    border-color: hsl(200, 48%, 54%);
}

#map {
    flex-basis: 52%;
    width: 100%;
    height: 90%;
    box-shadow: rgb(0 0 0 / 10%) 0px 10px 15px -3px, rgb(0 0 0 / 5%) 0px 4px 6px -2px;
    cursor: pointer;
    border: .1px solid #181616;
    border-radius: 3px;
}

/* Footer */
footer {
    background: linear-gradient(10deg, #0a0a0a, #181616);
    box-shadow: 1px 1px 2px 2px black;
    width: 100%;
    color: azure;
}

footer p {
    padding-left: 10px;
}

footer a {
    color: lightblue;
}

/* Overlay */
.overlay {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    overflow: hidden;
}

.overlay h1 {
    color: white;
}

.spinner {
    display: flex;
    justify-content: center;
}
.spinner::after {
    content: "";
    width: 50px;
    height: 50px;
    border: 10px solid #ddd;
    border-top-color: blue;
    border-radius: 50%;
    animation: spinner 1s linear infinite;
}




/* Responsive and animations */
@media screen and (max-width: 600px) {
    section#content {
        flex-direction: column;
        gap: 0;
        overflow-y: scroll;
        justify-content: space-evenly;
    }

    main#app {
        height: 150vh;
        min-height: 100vh;
    }

    footer p {
        text-align: center;
        padding-left: 0;
    }

    .overlay {
        height: 150vh;
    }
}

@keyframes spinner {
    to {
        transform: rotate(1turn);
    }
}

@keyframes jumpIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}